<div>
  <h2 id="page-heading" data-cy="SpecifikacijeHeading">
    <span jhiTranslate="tenderApp.specifikacije.home.title">Specifikacijes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tenderApp.specifikacije.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-specifikacije"
        [routerLink]="['/specifikacije/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tenderApp.specifikacije.home.createLabel"> Kreiraj novi Specifikacije </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="specifikacijes?.length === 0">
    <span jhiTranslate="tenderApp.specifikacije.home.notFound">No Specifikacijes found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="specifikacijes && specifikacijes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sifraPostupka">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.sifraPostupka">Sifra Postupka</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="brojPartije">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.brojPartije">Broj Partije</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="atc">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.atc">Atc</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="inn">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.inn">Inn</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="farmaceutskiOblikLijeka">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.farmaceutskiOblikLijeka">Farmaceutski Oblik Lijeka</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jacinaLijeka">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.jacinaLijeka">Jacina Lijeka</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="trazenaKolicina">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.trazenaKolicina">Trazena Kolicina</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="pakovanje">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.pakovanje">Pakovanje</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jedinicaMjere">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.jedinicaMjere">Jedinica Mjere</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="procijenjenaVrijednost">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.specifikacije.procijenjenaVrijednost">Procijenjena Vrijednost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let specifikacije of specifikacijes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/specifikacije', specifikacije.id, 'view']">{{ specifikacije.id }}</a>
          </td>
          <td>{{ specifikacije.sifraPostupka }}</td>
          <td>{{ specifikacije.brojPartije }}</td>
          <td>{{ specifikacije.atc }}</td>
          <td>{{ specifikacije.inn }}</td>
          <td>{{ specifikacije.farmaceutskiOblikLijeka }}</td>
          <td>{{ specifikacije.jacinaLijeka }}</td>
          <td>{{ specifikacije.trazenaKolicina }}</td>
          <td>{{ specifikacije.pakovanje }}</td>
          <td>{{ specifikacije.jedinicaMjere }}</td>
          <td>{{ specifikacije.procijenjenaVrijednost }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/specifikacije', specifikacije.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Pregled</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/specifikacije', specifikacije.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Izmeni</span>
              </button>

              <button type="submit" (click)="delete(specifikacije)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Obriši</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
