<div>
  <h2 id="page-heading" data-cy="VrednovanjeHeading">
    <span jhiTranslate="tenderApp.vrednovanje.home.title">Vrednovanjes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tenderApp.vrednovanje.home.refreshListLabel">Refresh list</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="vrednovanjes?.length === 0">
    <span jhiTranslate="tenderApp.vrednovanje.home.notFound">No Vrednovanjes found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="vrednovanjes && vrednovanjes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sifraPostupka">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.vrednovanje.sifraPostupka">Sifra Postupka</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sifraPonude">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.vrednovanje.sifraPonude">Sifra Ponude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="brojPartije">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.vrednovanje.brojPartije">Broj Partije</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nazivProizvodjaca">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.vrednovanje.nazivProizvodjaca">Naziv Proizvodjaca</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="zasticeniNaziv">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.vrednovanje.zasticeniNaziv">Zasticeni Naziv</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ponudjenaVrijednost">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.vrednovanje.ponudjenaVrijednost">Ponudjena Vrijednost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rokIsporuke">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.vrednovanje.rokIsporuke">Rok Isporuke</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jedinicnaCijena">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.vrednovanje.jedinicnaCijena">Jedinicna Cijena</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nazivPonudjaca">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.vrednovanje.nazivPonudjaca">Naziv Ponudjaca</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="atc">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.vrednovanje.atc">Atc</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="trazenaKolicina">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.vrednovanje.trazenaKolicina">Trazena Kolicina</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="procijenjenaVrijednost">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.vrednovanje.procijenjenaVrijednost">Procijenjena Vrijednost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vrstaPostupka">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.vrednovanje.vrstaPostupka">Vrsta Postupka</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bodCijena">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.vrednovanje.bodCijena">Bod Cijena</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bodRok">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.vrednovanje.bodRok">Bod Rok</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bodUkupno">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.vrednovanje.bodUkupno">Bod Ukupno</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vrednovanje of vrednovanjes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/vrednovanje', vrednovanje.id, 'view']">{{ vrednovanje.id }}</a>
          </td>
          <td>{{ vrednovanje.sifraPostupka }}</td>
          <td>{{ vrednovanje.sifraPonude }}</td>
          <td>{{ vrednovanje.brojPartije }}</td>
          <td>{{ vrednovanje.nazivProizvodjaca }}</td>
          <td>{{ vrednovanje.zasticeniNaziv }}</td>
          <td>{{ vrednovanje.ponudjenaVrijednost }}</td>
          <td>{{ vrednovanje.rokIsporuke }}</td>
          <td>{{ vrednovanje.jedinicnaCijena }}</td>
          <td>{{ vrednovanje.nazivPonudjaca }}</td>
          <td>{{ vrednovanje.atc }}</td>
          <td>{{ vrednovanje.trazenaKolicina }}</td>
          <td>{{ vrednovanje.procijenjenaVrijednost }}</td>
          <td>{{ vrednovanje.vrstaPostupka }}</td>
          <td>{{ vrednovanje.bodCijena }}</td>
          <td>{{ vrednovanje.bodRok }}</td>
          <td>{{ vrednovanje.bodUkupno }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/vrednovanje', vrednovanje.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Pregled</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
