<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side">
    <div>
      <mat-form-field>
        <input matInput [(ngModel)]="sifraPonude" matInput placeholder="Sifra Ponude" (keyup)="loadPageSifraPonude()" />
        <button *ngIf="sifraPonude" matSuffix mat-icon-button aria-label="Clear" (click)="ponisti()">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div iclass="btn-group" role="group" aria-label="Basic example">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <input hidden #fileInput type="file" id="file" />
        <!--        <mat-button-toggle *ngIf="!postupak" class="nadji" (click)="sidenav.toggle()">-->
        <mat-button-toggle class="nadji" (click)="sidenav.toggle()">
          <mat-icon>search</mat-icon>
        </mat-button-toggle>

        <!--        <mat-button-toggle *ngIf="postupak" matTooltip="Ponisti" (click)="ponisti()">Ponisti</mat-button-toggle>-->

        <mat-button-toggle *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']" matTooltip=" Excel fajl" (click)="exportTable()">
          <img src="../../../../content/images/icons8-microsoft-excel-48.png" alt="" />
        </mat-button-toggle>
        <mat-button-toggle matTooltip="Vrati" *ngIf="postupak" type="button" (click)="ponisti()">
          <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        </mat-button-toggle>
      </mat-button-toggle-group>
      <div *ngIf="postupak" class="form-floating">
        <select
          class="form-control"
          id="field_sifraPonudjaca"
          data-cy="sifraPonudjaca"
          name="sifraPonudjaca"
          [(ngModel)]="sifraPonude"
          (change)="loadPageSifraPonude()"
          cl="loadPageSifraPonude()"
        >
          <option [ngValue]="null">Izaberi ponudjaca</option>
          <option id="ponudjac" [ngValue]="ponudjaciOption.sifraPonude" *ngFor="let ponudjaciOption of ponudjaciPostupak">
            {{ ponudjaciOption.nazivPonudjaca }}
          </option>
        </select>
      </div>
      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
      <div class="alert alert-warning" id="no-result" *ngIf="vrednovanjes?.body?.length === 0">
        <span>Nema zapisa Bodovanja</span>
      </div>

      <table mat-table id="ExampleTable" [dataSource]="dataSource" matSort matSortStart="desc">
        <ng-container matColumnDef="id">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Id</th>
          <td mat-cell *matCellDef="let element">{{ element.id }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="sifra postupka">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra Postupka</th>
          <td mat-cell *matCellDef="let element">{{ element.sifraPostupka }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="sifra ponude">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra Ponude</th>
          <td mat-cell *matCellDef="let element">{{ element.sifraPonude }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="broj partije">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Broj Partije</th>
          <td mat-cell *matCellDef="let element">{{ element.brojPartije }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="atc">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Atc</th>
          <td mat-cell *matCellDef="let element">{{ element.atc }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="karakteristika specifikacije">
          <th mat-header-cell *matHeaderCellDef>Karakteristike Specifikacije</th>
          <td mat-cell *matCellDef="let element">{{ element.karakteristikaSpecifikacije }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="karakteristika ponude">
          <th mat-header-cell *matHeaderCellDef>Karakteristike Ponude</th>
          <td mat-cell *matCellDef="let element">{{ element.karakteristikaPonude }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>

        <ng-container matColumnDef="zasticeni naziv">
          <th mat-header-cell *matHeaderCellDef>Zasticeni Naziv</th>
          <td mat-cell *matCellDef="let element">{{ element.zasticeniNaziv }}</td>
          <td mat-footer-cell *matFooterCellDef>Procijenjena:</td>
        </ng-container>

        <ng-container matColumnDef="procijenjena vrijednost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Procijenjena vrijednost</th>
          <td mat-cell *matCellDef="let element">{{ element.procijenjenaVrijednost | number }}</td>
          <td mat-footer-cell *matFooterCellDef>{{ ukupnaProcijenjena | number: '1.2-2' }}</td>
        </ng-container>
        <ng-container matColumnDef="kolicina">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Kolicina</th>
          <td mat-cell *matCellDef="let element">{{ element.trazenaKolicina }}</td>
          <td mat-footer-cell *matFooterCellDef>Ponudjena:</td>
        </ng-container>
        <ng-container matColumnDef="jedinicna cijena">
          <th mat-header-cell *matHeaderCellDef>Jedinicna Cijena</th>
          <td mat-cell *matCellDef="let element">{{ element.jedinicnaCijena | number }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="ponudjena vrijednost">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ponudjena Cijena</th>
          <td mat-cell *matCellDef="let element">{{ element.ponudjenaVrijednost | number }}</td>
          <td mat-footer-cell *matFooterCellDef>{{ ukupnoPonudjena | number: '1.2-2' }}</td>
        </ng-container>
        <ng-container matColumnDef="rok isporuke">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Rok Isporuke</th>
          <td mat-cell *matCellDef="let element">{{ element.rokIsporuke }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="naziv ponudjaca">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Ponudjac</th>
          <td mat-cell *matCellDef="let element">{{ element.nazivPonudjaca }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="naziv proizvodjaca">
          <th mat-header-cell *matHeaderCellDef>Proizvodjac</th>
          <td mat-cell *matCellDef="let element">{{ element.nazivProizvodjaca }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="bod cijena">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bod Cijena</th>
          <td mat-cell *matCellDef="let element">{{ element.bodCijena | number }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="bod rok">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bod Rok</th>
          <td mat-cell *matCellDef="let element">{{ element.bodRok | number }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <ng-container matColumnDef="bod ukupno">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Bod Ukupno</th>
          <td mat-cell *matCellDef="let element">{{ element.bodUkupno | number }}</td>
          <td mat-footer-cell *matFooterCellDef></td>
        </ng-container>
        <tr class="heder" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr mat-footer-row *matFooterRowDef="displayedColumns; sticky: true"></tr>
      </table>
      <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[20, 50, 100]" showFirstLastButtons></mat-paginator>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
