<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="prvorangirani">
      <h2 data-cy="prvorangiraniDetailsHeading"><span jhiTranslate="tenderApp.prvorangirani.detail.title">Prvorangirani</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ prvorangirani.id }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.prvorangirani.sifraPostupka">Sifra Postupka</span></dt>
        <dd>
          <span>{{ prvorangirani.sifraPostupka }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.prvorangirani.nazivPonudjaca">Naziv Ponudjaca</span></dt>
        <dd>
          <span>{{ prvorangirani.nazivPonudjaca }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.prvorangirani.sifraPonude">Sifra Ponude</span></dt>
        <dd>
          <span>{{ prvorangirani.sifraPonude }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.prvorangirani.brojPartije">Broj Partije</span></dt>
        <dd>
          <span>{{ prvorangirani.brojPartije }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.prvorangirani.atc">Atc</span></dt>
        <dd>
          <span>{{ prvorangirani.atc }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.prvorangirani.trazenaKolicina">Trazena Kolicina</span></dt>
        <dd>
          <span>{{ prvorangirani.trazenaKolicina }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.prvorangirani.procijenjenaVrijednost">Procijenjena Vrijednost</span></dt>
        <dd>
          <span>{{ prvorangirani.procijenjenaVrijednost }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.prvorangirani.nazivProizvodjaca">Naziv Proizvodjaca</span></dt>
        <dd>
          <span>{{ prvorangirani.nazivProizvodjaca }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.prvorangirani.zasticeniNaziv">Zasticeni Naziv</span></dt>
        <dd>
          <span>{{ prvorangirani.zasticeniNaziv }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.prvorangirani.jedinicnaCijena">Jedinicna Cijena</span></dt>
        <dd>
          <span>{{ prvorangirani.jedinicnaCijena }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.prvorangirani.ponudjenaVrijednost">Ponudjena Vrijednost</span></dt>
        <dd>
          <span>{{ prvorangirani.ponudjenaVrijednost }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.prvorangirani.rokIsporuke">Rok Isporuke</span></dt>
        <dd>
          <span>{{ prvorangirani.rokIsporuke }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.prvorangirani.vrstaPostupka">Vrsta Postupka</span></dt>
        <dd>
          <span>{{ prvorangirani.vrstaPostupka }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.prvorangirani.bodCijena">Bod Cijena</span></dt>
        <dd>
          <span>{{ prvorangirani.bodCijena }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.prvorangirani.bodRok">Bod Rok</span></dt>
        <dd>
          <span>{{ prvorangirani.bodRok }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.prvorangirani.bodUkupno">Bod Ukupno</span></dt>
        <dd>
          <span>{{ prvorangirani.bodUkupno }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>
    </div>
  </div>
</div>
