<div class="modal-content">
  <div class="modal-header">
    <h5
      class="modal-title"
      id="jhi-ponude-heading"
      data-cy="PonudeCreateUpdateHeading"
      jhiTranslate="tenderApp.ponude.home.createOrEditLabel"
    ></h5>
  </div>
  <div class="d-flex justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div>
          <jhi-alert-error></jhi-alert-error>

          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              placeholder="Sifra Postuka"
              name="sifraPostupka"
              id="field_sifraPostupka"
              data-cy="sifraPostupka"
              formControlName="sifraPostupka"
            />
            <label class="form-label" jhiTranslate="tenderApp.ponude.sifraPostupka" for="field_sifraPostupka">Sifra Postupka</label>
            <div
              *ngIf="
                editForm.get('sifraPostupka')!.invalid && (editForm.get('sifraPostupka')!.dirty || editForm.get('sifraPostupka')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('sifraPostupka')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('sifraPostupka')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>

          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              placeholder="Sifra Ponude"
              name="sifraPonude"
              id="field_sifraPonude"
              data-cy="sifraPonude"
              formControlName="sifraPonude"
            />
            <label class="form-label" jhiTranslate="tenderApp.ponude.sifraPonude" for="field_sifraPonude">Sifra Ponude</label>
            <div
              *ngIf="editForm.get('sifraPonude')!.invalid && (editForm.get('sifraPonude')!.dirty || editForm.get('sifraPonude')!.touched)"
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('sifraPonude')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('sifraPonude')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>

          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              placeholder="Broj Partije"
              name="brojPartije"
              id="field_brojPartije"
              data-cy="brojPartije"
              formControlName="brojPartije"
            />
            <label class="form-label" jhiTranslate="tenderApp.ponude.brojPartije" for="field_brojPartije">Broj Partije</label>

            <div
              *ngIf="editForm.get('brojPartije')!.invalid && (editForm.get('brojPartije')!.dirty || editForm.get('brojPartije')!.touched)"
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('brojPartije')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('brojPartije')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>

          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              name="nazivProizvodjaca"
              placeholder="Naziv Proizvodjaca"
              id="field_nazivProizvodjaca"
              data-cy="nazivProizvodjaca"
              formControlName="nazivProizvodjaca"
            />
            <label class="form-label" jhiTranslate="tenderApp.ponude.nazivProizvodjaca" for="field_nazivProizvodjaca"
              >Naziv Proizvodjaca</label
            >
          </div>

          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              name="zasticeniNaziv"
              placeholder="Zasticeni Naziv"
              id="field_zasticeniNaziv"
              data-cy="zasticeniNaziv"
              formControlName="zasticeniNaziv"
            />
            <label class="form-label" jhiTranslate="tenderApp.ponude.zasticeniNaziv" for="field_zasticeniNaziv">Zasticeni Naziv</label>
          </div>
          <div class="form-floating">
            <textarea
              type="text"
              class="form-control"
              name="katrakteristike"
              placeholder="Katrakteristikev"
              id="field_katrakteristike"
              data-cy="katrakteristike"
              formControlName="karakteristika"
            ></textarea>
            <label class="form-label" jhiTranslate="tenderApp.ponude.karakteristika" for="field_katrakteristike">Katrakteristike</label>
          </div>

          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              name="ponudjenaVrijednost"
              placeholder="Ponudjena Vrijednost"
              id="field_ponudjenaVrijednost"
              data-cy="ponudjenaVrijednost"
              formControlName="ponudjenaVrijednost"
            />
            <label class="form-label" jhiTranslate="tenderApp.ponude.ponudjenaVrijednost" for="field_ponudjenaVrijednost"
              >Ponudjena Vrijednost</label
            >
            <div
              *ngIf="
                editForm.get('ponudjenaVrijednost')!.invalid &&
                (editForm.get('ponudjenaVrijednost')!.dirty || editForm.get('ponudjenaVrijednost')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('ponudjenaVrijednost')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('ponudjenaVrijednost')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>

          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              name="rokIsporuke"
              placeholder="Rok Isporuke"
              id="field_rokIsporuke"
              data-cy="rokIsporuke"
              formControlName="rokIsporuke"
            />
            <label class="form-label" jhiTranslate="tenderApp.ponude.rokIsporuke" for="field_rokIsporuke">Rok Isporuke</label>
          </div>

          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              name="jedinicnaCijena"
              placeholder="Jedinicna Cijena"
              id="field_jedinicnaCijena"
              data-cy="jedinicnaCijena"
              formControlName="jedinicnaCijena"
            />
            <label class="form-label" jhiTranslate="tenderApp.ponude.jedinicnaCijena" for="field_jedinicnaCijena">Jedinicna Cijena</label>
          </div>
          <!--          <div class="form-floating">-->
          <!--            <input-->
          <!--              type="number"-->
          <!--              class="form-control"-->
          <!--              name="sifraPonudjaca"-->
          <!--              placeholder="sifraPonudjaca"-->
          <!--              id="field_sifraPonudjaca"-->
          <!--              data-cy="sifraPonudjaca"-->
          <!--              formControlName="sifraPonudjaca"-->
          <!--            />-->
          <!--            <label class="form-label" jhiTranslate="tenderApp.ponude.sifraPonudjaca" for="field_sifraPonudjaca">Sifra Ponudjaca</label>-->
          <!--          </div>-->

          <div class="form-floating">
            <select
              class="form-control"
              id="field_sifraPonudjaca1"
              data-cy="sifraPonudjaca"
              name="sifraPonudjaca"
              formControlName="sifraPonudjaca"
            >
              <option [ngValue]="null"></option>
              <option [ngValue]="ponudjaciOption.id" *ngFor="let ponudjaciOption of ponudjaci">
                {{ ponudjaciOption.nazivPonudjaca }}
              </option>
            </select>
            <label class="form-label">Sifra Ponudjaca</label>
          </div>
        </div>
        <div class="modal-footer">
          <div>
            <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
              <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>

            <button
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              [disabled]="editForm.invalid || isSaving"
              class="btn btn-primary"
            >
              <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
