<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="viewVrednovanje">
      <h2 data-cy="viewVrednovanjeDetailsHeading"><span jhiTranslate="tenderApp.viewVrednovanje.detail.title">View Vrednovanje</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ viewVrednovanje.id }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.sifraPostupka">Sifra Postupka</span></dt>
        <dd>
          <span>{{ viewVrednovanje.sifraPostupka }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.sifraPonude">Sifra Ponude</span></dt>
        <dd>
          <span>{{ viewVrednovanje.sifraPonude }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.brojPartije">Broj Partije</span></dt>
        <dd>
          <span>{{ viewVrednovanje.brojPartije }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.nazivProizvodjaca">Naziv Proizvodjaca</span></dt>
        <dd>
          <span>{{ viewVrednovanje.nazivProizvodjaca }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.zasticeniNaziv">Zasticeni Naziv</span></dt>
        <dd>
          <span>{{ viewVrednovanje.zasticeniNaziv }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.ponudjenaVrijednost">Ponudjena Vrijednost</span></dt>
        <dd>
          <span>{{ viewVrednovanje.ponudjenaVrijednost }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.rokIsporuke">Rok Isporuke</span></dt>
        <dd>
          <span>{{ viewVrednovanje.rokIsporuke }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.jedinicnaCijena">Jedinicna Cijena</span></dt>
        <dd>
          <span>{{ viewVrednovanje.jedinicnaCijena }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.nazivPonudjaca">Naziv Ponudjaca</span></dt>
        <dd>
          <span>{{ viewVrednovanje.nazivPonudjaca }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.atc">Atc</span></dt>
        <dd>
          <span>{{ viewVrednovanje.atc }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.trazenaKolicina">Trazena Kolicina</span></dt>
        <dd>
          <span>{{ viewVrednovanje.trazenaKolicina }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.procijenjenaVrijednost">Procijenjena Vrijednost</span></dt>
        <dd>
          <span>{{ viewVrednovanje.procijenjenaVrijednost }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.vrstaPostupka">Vrsta Postupka</span></dt>
        <dd>
          <span>{{ viewVrednovanje.vrstaPostupka }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.katekteristikaPonude">Katekteristika Ponude</span></dt>
        <dd>
          <span>{{ viewVrednovanje.katekteristikaPonude }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.karakteristikaSpecifikacije">Karakteristika Specifikacije</span></dt>
        <dd>
          <span>{{ viewVrednovanje.karakteristikaSpecifikacije }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.bodCijena">Bod Cijena</span></dt>
        <dd>
          <span>{{ viewVrednovanje.bodCijena }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.bodRok">Bod Rok</span></dt>
        <dd>
          <span>{{ viewVrednovanje.bodRok }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.viewVrednovanje.bodUkupno">Bod Ukupno</span></dt>
        <dd>
          <span>{{ viewVrednovanje.bodUkupno }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Nazad</span>
      </button>
    </div>
  </div>
</div>
