<div>
  <h2 id="page-heading" data-cy="ViewPrvorangiraniHeading">
    <span jhiTranslate="tenderApp.viewPrvorangirani.home.title">View Prvorangiranis</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tenderApp.viewPrvorangirani.home.refreshListLabel">Refresh list</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="viewPrvorangiranis?.length === 0">
    <span jhiTranslate="tenderApp.viewPrvorangirani.home.notFound">No View Prvorangiranis found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="viewPrvorangiranis && viewPrvorangiranis.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sifraPostupka">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.sifraPostupka">Sifra Postupka</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nazivPonudjaca">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.nazivPonudjaca">Naziv Ponudjaca</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sifraPonude">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.sifraPonude">Sifra Ponude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="atc">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.atc">Atc</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="trazenaKolicina">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.trazenaKolicina">Trazena Kolicina</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="procijenjenaVrijednost">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.procijenjenaVrijednost">Procijenjena Vrijednost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nazivProizvodjaca">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.nazivProizvodjaca">Naziv Proizvodjaca</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="zasticeniNaziv">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.zasticeniNaziv">Zasticeni Naziv</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jedinicnaCijena">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.jedinicnaCijena">Jedinicna Cijena</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ponudjenaVrijednost">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.ponudjenaVrijednost">Ponudjena Vrijednost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rokIsporuke">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.rokIsporuke">Rok Isporuke</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vrstaPostupka">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.vrstaPostupka">Vrsta Postupka</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bodCijena">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.bodCijena">Bod Cijena</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bodRok">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.bodRok">Bod Rok</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bodUkupno">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.bodUkupno">Bod Ukupno</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="karakteristikaSpecifikacije">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.karakteristikaSpecifikacije">Karakteristika Specifikacije</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="karakteristikaPonude">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPrvorangirani.karakteristikaPonude">Karakteristika Ponude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let viewPrvorangirani of viewPrvorangiranis; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/view-prvorangirani', viewPrvorangirani.id, 'view']">{{ viewPrvorangirani.id }}</a>
          </td>
          <td>{{ viewPrvorangirani.sifraPostupka }}</td>
          <td>{{ viewPrvorangirani.nazivPonudjaca }}</td>
          <td>{{ viewPrvorangirani.sifraPonude }}</td>
          <td>{{ viewPrvorangirani.atc }}</td>
          <td>{{ viewPrvorangirani.trazenaKolicina }}</td>
          <td>{{ viewPrvorangirani.procijenjenaVrijednost }}</td>
          <td>{{ viewPrvorangirani.nazivProizvodjaca }}</td>
          <td>{{ viewPrvorangirani.zasticeniNaziv }}</td>
          <td>{{ viewPrvorangirani.jedinicnaCijena }}</td>
          <td>{{ viewPrvorangirani.ponudjenaVrijednost }}</td>
          <td>{{ viewPrvorangirani.rokIsporuke }}</td>
          <td>{{ viewPrvorangirani.vrstaPostupka }}</td>
          <td>{{ viewPrvorangirani.bodCijena }}</td>
          <td>{{ viewPrvorangirani.bodRok }}</td>
          <td>{{ viewPrvorangirani.bodUkupno }}</td>
          <td>{{ viewPrvorangirani.karakteristikaSpecifikacije }}</td>
          <td>{{ viewPrvorangirani.karakteristikaPonude }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/view-prvorangirani', viewPrvorangirani.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Pregled</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
