<div>
  <h2 id="page-heading" data-cy="ViewVrednovanjeHeading">
    <span jhiTranslate="tenderApp.viewVrednovanje.home.title">View Vrednovanjes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tenderApp.viewVrednovanje.home.refreshListLabel">Refresh list</span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="viewVrednovanjes?.length === 0">
    <span jhiTranslate="tenderApp.viewVrednovanje.home.notFound">No View Vrednovanjes found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="viewVrednovanjes && viewVrednovanjes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sifraPostupka">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.sifraPostupka">Sifra Postupka</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sifraPonude">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.sifraPonude">Sifra Ponude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="brojPartije">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.brojPartije">Broj Partije</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nazivProizvodjaca">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.nazivProizvodjaca">Naziv Proizvodjaca</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="zasticeniNaziv">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.zasticeniNaziv">Zasticeni Naziv</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ponudjenaVrijednost">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.ponudjenaVrijednost">Ponudjena Vrijednost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rokIsporuke">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.rokIsporuke">Rok Isporuke</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jedinicnaCijena">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.jedinicnaCijena">Jedinicna Cijena</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nazivPonudjaca">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.nazivPonudjaca">Naziv Ponudjaca</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="atc">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.atc">Atc</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="trazenaKolicina">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.trazenaKolicina">Trazena Kolicina</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="procijenjenaVrijednost">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.procijenjenaVrijednost">Procijenjena Vrijednost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="vrstaPostupka">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.vrstaPostupka">Vrsta Postupka</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="katekteristikaPonude">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.katekteristikaPonude">Katekteristika Ponude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="karakteristikaSpecifikacije">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.karakteristikaSpecifikacije">Karakteristika Specifikacije</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bodCijena">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.bodCijena">Bod Cijena</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bodRok">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.bodRok">Bod Rok</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="bodUkupno">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewVrednovanje.bodUkupno">Bod Ukupno</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let viewVrednovanje of viewVrednovanjes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/view-vrednovanje', viewVrednovanje.id, 'view']">{{ viewVrednovanje.id }}</a>
          </td>
          <td>{{ viewVrednovanje.sifraPostupka }}</td>
          <td>{{ viewVrednovanje.sifraPonude }}</td>
          <td>{{ viewVrednovanje.brojPartije }}</td>
          <td>{{ viewVrednovanje.nazivProizvodjaca }}</td>
          <td>{{ viewVrednovanje.zasticeniNaziv }}</td>
          <td>{{ viewVrednovanje.ponudjenaVrijednost }}</td>
          <td>{{ viewVrednovanje.rokIsporuke }}</td>
          <td>{{ viewVrednovanje.jedinicnaCijena }}</td>
          <td>{{ viewVrednovanje.nazivPonudjaca }}</td>
          <td>{{ viewVrednovanje.atc }}</td>
          <td>{{ viewVrednovanje.trazenaKolicina }}</td>
          <td>{{ viewVrednovanje.procijenjenaVrijednost }}</td>
          <td>{{ viewVrednovanje.vrstaPostupka }}</td>
          <td>{{ viewVrednovanje.katekteristikaPonude }}</td>
          <td>{{ viewVrednovanje.karakteristikaSpecifikacije }}</td>
          <td>{{ viewVrednovanje.bodCijena }}</td>
          <td>{{ viewVrednovanje.bodRok }}</td>
          <td>{{ viewVrednovanje.bodUkupno }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/view-vrednovanje', viewVrednovanje.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Pregled</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
