<div class="modal-content">
  <div class="d-flex justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div class="modal-header">
          <h5
            id="jhi-specifikacije-heading"
            data-cy="SpecifikacijeCreateUpdateHeading"
            jhiTranslate="tenderApp.specifikacije.home.createOrEditLabel"
          >
            Create or edit a Specifikacije
          </h5>
        </div>

        <div>
          <jhi-alert-error></jhi-alert-error>
          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              name="sifraPostupka"
              id="field_sifraPostupka"
              data-cy="sifraPostupka"
              formControlName="sifraPostupka"
              placeholder="Sifra Postupka"
            />
            <label class="form-label" jhiTranslate="tenderApp.specifikacije.sifraPostupka" for="field_sifraPostupka">Sifra Postupka</label>
            <div
              *ngIf="
                editForm.get('sifraPostupka')!.invalid && (editForm.get('sifraPostupka')!.dirty || editForm.get('sifraPostupka')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('sifraPostupka')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('sifraPostupka')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>

          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              name="brojPartije"
              id="field_brojPartije"
              data-cy="brojPartije"
              formControlName="brojPartije"
              placeholder="Broj Partije"
            />
            <label class="form-label" jhiTranslate="tenderApp.specifikacije.brojPartije" for="field_brojPartije">Broj Partije</label>
            <div
              *ngIf="editForm.get('brojPartije')!.invalid && (editForm.get('brojPartije')!.dirty || editForm.get('brojPartije')!.touched)"
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('brojPartije')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('brojPartije')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>

          <div class="form-floating">
            <input type="text" placeholder="Atc" class="form-control" name="atc" id="field_atc" data-cy="atc" formControlName="atc" />
            <label class="form-label" jhiTranslate="tenderApp.specifikacije.atc" for="field_atc">Atc</label>
          </div>

          <div class="form-floating">
            <input type="text" placeholder="Inn" class="form-control" name="inn" id="field_inn" data-cy="inn" formControlName="inn" />
            <label class="form-label" jhiTranslate="tenderApp.specifikacije.inn" for="field_inn">Inn</label>
          </div>

          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              name="farmaceutskiOblikLijeka"
              id="field_farmaceutskiOblikLijeka"
              data-cy="farmaceutskiOblikLijeka"
              formControlName="farmaceutskiOblikLijeka"
              placeholder="Farmaceutski Oblik Lijeka"
            />
            <label class="form-label" jhiTranslate="tenderApp.specifikacije.farmaceutskiOblikLijeka" for="field_farmaceutskiOblikLijeka"
              >Farmaceutski Oblik Lijeka</label
            >
          </div>
          <div class="form-floating">
            <textarea
              type="text"
              class="form-control"
              name="karakteristika"
              id="field_karakteristika"
              data-cy="karakteristika"
              formControlName="karakteristika"
              placeholder="Karakteristike"
            ></textarea>
            <label class="form-label" jhiTranslate="tenderApp.specifikacije.karakteristika" for="field_karakteristika"
              >Karakteristike</label
            >
          </div>

          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              name="jacinaLijeka"
              id="field_jacinaLijeka"
              data-cy="jacinaLijeka"
              formControlName="jacinaLijeka"
              placeholder="Jacina Lijeka"
            />
            <label class="form-label" jhiTranslate="tenderApp.specifikacije.jacinaLijeka" for="field_jacinaLijeka">Jacina Lijeka</label>
          </div>

          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              name="trazenaKolicina"
              id="field_trazenaKolicina"
              data-cy="trazenaKolicina"
              formControlName="trazenaKolicina"
              placeholder="Trazena Kolicina"
            />
            <label class="form-label" jhiTranslate="tenderApp.specifikacije.trazenaKolicina" for="field_trazenaKolicina"
              >Trazena Kolicina</label
            >
          </div>

          <div class="form-floating">
            <input
              type="text"
              placeholder="Pakovanje"
              class="form-control"
              name="pakovanje"
              id="field_pakovanje"
              data-cy="pakovanje"
              formControlName="pakovanje"
            />
            <label class="form-label" jhiTranslate="tenderApp.specifikacije.pakovanje" for="field_pakovanje">Pakovanje</label>
          </div>

          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              name="jedinicaMjere"
              id="field_jedinicaMjere"
              data-cy="jedinicaMjere"
              formControlName="jedinicaMjere"
              placeholder="Jedinica Mjere"
            />
            <label class="form-label" jhiTranslate="tenderApp.specifikacije.jedinicaMjere" for="field_jedinicaMjere">Jedinica Mjere</label>
          </div>

          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              name="procijenjenaVrijednost"
              id="field_procijenjenaVrijednost"
              data-cy="procijenjenaVrijednost"
              formControlName="procijenjenaVrijednost"
              placeholder="Procijenjena Vrijednost"
            />
            <label class="form-label" jhiTranslate="tenderApp.specifikacije.procijenjenaVrijednost" for="field_procijenjenaVrijednost"
              >Procijenjena Vrijednost</label
            >
            <div
              *ngIf="
                editForm.get('procijenjenaVrijednost')!.invalid &&
                (editForm.get('procijenjenaVrijednost')!.dirty || editForm.get('procijenjenaVrijednost')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('procijenjenaVrijednost')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('procijenjenaVrijednost')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>

          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              name="jedinicnaCijena"
              id="field_jedinicnaCijena"
              data-cy="jedinicnaCijena"
              formControlName="jedinicnaCijena"
              placeholder="Jedinicna Cijena"
            />
            <label class="form-label" jhiTranslate="tenderApp.specifikacije.jedinicnaCijena" for="field_jedinicnaCijena"
              >Jedinicna Cijena</label
            >
            <div
              *ngIf="
                editForm.get('jedinicnaCijena')!.invalid &&
                (editForm.get('jedinicnaCijena')!.dirty || editForm.get('jedinicnaCijena')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('jedinicnaCijena')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('jedinicnaCijena')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div>
            <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
              <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>

            <button
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              [disabled]="editForm.invalid || isSaving"
              class="btn btn-primary"
            >
              <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
