#centar {
  //border: solid;
}
.form-floating {
  width: 200px;
  margin-left: 80px;

  //margin-top: 50px;
  //margin-bottom: 50px;
  //margin-right: 150px;
  //margin-left: 150px;
}
.modal-content {
  //border: solid;
  //border-color: red;
  height: auto;
  width: auto;
}
.form {
  //border: solid;
}
.login {
}
