<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title">Prijava</h5>
  </div>
  <div id="centar">
    <div id="text">
      <div class="alert alert-danger" *ngIf="authenticationError" jhiTranslate="login.messages.error.authentication" data-cy="loginError">
        <strong>Failed to sign in!</strong> Please check your credentials and try again.
      </div>

      <form class="form" role="form" (ngSubmit)="login()" [formGroup]="loginForm">
        <div class="login">
          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              name="username"
              id="username"
              placeholder="{{ 'global.form.username.placeholder' | translate }}"
              formControlName="username"
              #username
              data-cy="username"
            />
            <label class="username-label" for="username" jhiTranslate="global.form.username.label">Login</label>
          </div>

          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              name="password"
              id="password"
              placeholder="{{ 'login.form.password.placeholder' | translate }}"
              formControlName="password"
              data-cy="password"
            />
            <label for="password" jhiTranslate="login.form.password">Password</label>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" class="btn btn-primary" jhiTranslate="login.form.button" data-cy="submit">Sign in</button>
        </div>
      </form>
    </div>
  </div>
</div>
