#centar {
  //border: solid;
}
.form-floating {
  width: 300px;
  margin-left: 60px;
}
.modal-content {
  //border: solid;
  //border-color: red;
  height: auto;
  width: auto;
}
.form {
  //border: solid;
}
.login {
  //border: solid;
  //border-color: #3e8acc;
  margin: 20px;
}
