<div class="modal-content">
  <div class="modal-header">
    <h5 class="modal-title" jhiTranslate="tenderApp.postupci.home.createOrEditLabel">Postupci</h5>
  </div>
  <div class="d-flex justify-content-center">
    <div class="col-8">
      <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
        <div>
          <jhi-alert-error></jhi-alert-error>

          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              name="sifraPostupka"
              id="field_sifraPostupka"
              data-cy="sifraPostupka"
              formControlName="sifraPostupka"
              placeholder="Sifra Postupka"
            />
            <label class="form-label" jhiTranslate="tenderApp.postupci.sifraPostupka" for="field_sifraPostupka">Sifra Postupka</label>
            <div
              *ngIf="
                editForm.get('sifraPostupka')!.invalid && (editForm.get('sifraPostupka')!.dirty || editForm.get('sifraPostupka')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('sifraPostupka')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('sifraPostupka')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>

          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              name="brojTendera"
              id="field_brojTendera"
              data-cy="brojTendera"
              formControlName="brojTendera"
              placeholder="Broj Tendera"
            />
            <label class="form-label" jhiTranslate="tenderApp.postupci.brojTendera" for="field_brojTendera">Broj Tendera</label>
          </div>

          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              name="opisPostupka"
              id="field_opisPostupka"
              data-cy="opisPostupka"
              formControlName="opisPostupka"
              placeholder="Opis Postupka"
            />
            <label class="form-label" jhiTranslate="tenderApp.postupci.opisPostupka" for="field_opisPostupka">Opis Postupka</label>
            <div
              *ngIf="
                editForm.get('opisPostupka')!.invalid && (editForm.get('opisPostupka')!.dirty || editForm.get('opisPostupka')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('opisPostupka')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>

          <div class="form-floating">
            <input
              type="text"
              class="form-control"
              name="vrstaPostupka"
              id="field_vrstaPostupka"
              data-cy="vrstaPostupka"
              formControlName="vrstaPostupka"
              placeholder="Vrsta Postupka"
            />
            <label class="form-label" jhiTranslate="tenderApp.postupci.vrstaPostupka" for="field_vrstaPostupka">Vrsta Postupka</label>
            <div
              *ngIf="
                editForm.get('vrstaPostupka')!.invalid && (editForm.get('vrstaPostupka')!.dirty || editForm.get('vrstaPostupka')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('vrstaPostupka')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
            </div>
          </div>

          <div class="form-floating">
            <div class="input-group">
              <input
                id="field_datumObjave"
                data-cy="datumObjave"
                type="text"
                class="form-control"
                name="datumObjave"
                ngbDatepicker
                #datumObjaveDp="ngbDatepicker"
                formControlName="datumObjave"
                placeholder="Datum Objave"
              />
              <!--              <label class="form-label" jhiTranslate="tenderApp.postupci.datumObjave" for="field_datumObjave">Datum-->
              <!--                Objave</label>-->
              <button type="button" class="btn btn-secondary" (click)="datumObjaveDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </div>
          </div>

          <div class="form-floating">
            <!--            <label class="form-label" jhiTranslate="tenderApp.postupci.datumOtvaranja" for="field_datumOtvaranja">Datum-->
            <!--              Otvaranja</label>-->
            <div class="input-group">
              <input
                id="field_datumOtvaranja"
                data-cy="datumOtvaranja"
                type="text"
                class="form-control"
                name="datumOtvaranja"
                ngbDatepicker
                #datumOtvaranjaDp="ngbDatepicker"
                formControlName="datumOtvaranja"
                placeholder="Datum Otvaranja"
              />

              <button type="button" class="btn btn-secondary" (click)="datumOtvaranjaDp.toggle()">
                <fa-icon icon="calendar-alt"></fa-icon>
              </button>
            </div>
          </div>

          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              name="kriterijumCijena"
              id="field_kriterijumCijena"
              data-cy="kriterijumCijena"
              formControlName="kriterijumCijena"
              placeholder="Kriterijum Cijena"
            />
            <label class="form-label" jhiTranslate="tenderApp.postupci.kriterijumCijena" for="field_kriterijumCijena"
              >Kriterijum Cijena</label
            >
            <div
              *ngIf="
                editForm.get('kriterijumCijena')!.invalid &&
                (editForm.get('kriterijumCijena')!.dirty || editForm.get('kriterijumCijena')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('kriterijumCijena')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('kriterijumCijena')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>

          <div class="form-floating">
            <input
              type="number"
              class="form-control"
              name="drugiKriterijum"
              id="field_drugiKriterijum"
              data-cy="drugiKriterijum"
              formControlName="drugiKriterijum"
              placeholder="Drugi Kriterijum"
            />
            <label class="form-label" jhiTranslate="tenderApp.postupci.drugiKriterijum" for="field_drugiKriterijum">Drugi Kriterijum</label>
            <div
              *ngIf="
                editForm.get('drugiKriterijum')!.invalid &&
                (editForm.get('drugiKriterijum')!.dirty || editForm.get('drugiKriterijum')!.touched)
              "
            >
              <small
                class="form-text text-danger"
                *ngIf="editForm.get('drugiKriterijum')?.errors?.required"
                jhiTranslate="entity.validation.required"
              >
                This field is required.
              </small>
              <small
                class="form-text text-danger"
                [hidden]="!editForm.get('drugiKriterijum')?.errors?.number"
                jhiTranslate="entity.validation.number"
              >
                This field should be a number.
              </small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div>
            <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
              <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
            </button>

            <button
              type="submit"
              id="save-entity"
              data-cy="entityCreateSaveButton"
              [disabled]="editForm.invalid || isSaving"
              class="btn btn-primary"
            >
              <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
