<div [ngSwitch]="account !== null">
  <div class="alert alert-success" *ngSwitchCase="true">
    <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message" [translateValues]="{ username: account.login }"
      >You are logged in as user "{{ account.login }}".</span
    >
  </div>
  <div class="form-floating">
    <input
      type="password"
      class="form-control"
      name="password"
      id="password"
      placeholder="{{ 'login.form.password.placeholder' | translate }}"
      formControlName="password"
      data-cy="password"
    />
    <label for="password" jhiTranslate="login.form.password">Password</label>
  </div>
  <div class="container">
    <div class="container-item">
      <!--    <h2>ESJN <span id="span">Montefarm</span></h2>-->
      <img src="../../content/images/pharmacy.png" />
    </div>
  </div>
</div>
