<ul ngbNav #nav="ngbNav" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Specikacije</a>
    <ng-template ngbNavContent>
      <jhi-specifikacije [postupak]="sifra"></jhi-specifikacije>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>Ponude</a>
    <ng-template ngbNavContent>
      <jhi-ponude-ponudjaci [postupak]="sifra"></jhi-ponude-ponudjaci>
    </ng-template>
  </li>
  <li [ngbNavItem]="3">
    <a ngbNavLink>Vrednovanje</a>
    <ng-template ngbNavContent>
      <jhi-vrednovanje [postupak]="sifra"></jhi-vrednovanje>
    </ng-template>
  </li>
  <li [ngbNavItem]="4">
    <a ngbNavLink>Prvorangirani</a>
    <ng-template ngbNavContent>
      <jhi-prvorangirani [postupak]="sifra"></jhi-prvorangirani>
    </ng-template>
  </li>
  <li [ngbNavItem]="5">
    <a ngbNavLink>Partije bez ponude</a>
    <ng-template ngbNavContent>
      <jhi-hvale-ponude [postupak]="sifra"></jhi-hvale-ponude>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="mt-2"></div>
