<div>
  <h2 id="page-heading" data-cy="ViewPonudeHeading">
    <span jhiTranslate="tenderApp.viewPonude.home.title">View Ponudes</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="tenderApp.viewPonude.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-view-ponude"
        [routerLink]="['/view-ponude/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="tenderApp.viewPonude.home.createLabel"> Kreiraj novi View Ponude </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="viewPonudes?.length === 0">
    <span jhiTranslate="tenderApp.viewPonude.home.notFound">No View Ponudes found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="viewPonudes && viewPonudes.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sifraPostupka">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPonude.sifraPostupka">Sifra Postupka</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="sifraPonude">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPonude.sifraPonude">Sifra Ponude</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="brojPartije">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPonude.brojPartije">Broj Partije</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nazivProizvodjaca">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPonude.nazivProizvodjaca">Naziv Proizvodjaca</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="zasticeniNaziv">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPonude.zasticeniNaziv">Zasticeni Naziv</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="ponudjenaVrijednost">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPonude.ponudjenaVrijednost">Ponudjena Vrijednost</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="rokIsporuke">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPonude.rokIsporuke">Rok Isporuke</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="jedinicnaCijena">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPonude.jedinicnaCijena">Jedinicna Cijena</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="selected">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPonude.selected">Selected</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nazivPonudjaca">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPonude.nazivPonudjaca">Naziv Ponudjaca</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="karakteristika">
            <div class="d-flex">
              <span jhiTranslate="tenderApp.viewPonude.karakteristika">Karakteristika</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let viewPonude of viewPonudes; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/view-ponude', viewPonude.id, 'view']">{{ viewPonude.id }}</a>
          </td>
          <td>{{ viewPonude.sifraPostupka }}</td>
          <td>{{ viewPonude.sifraPonude }}</td>
          <td>{{ viewPonude.brojPartije }}</td>
          <td>{{ viewPonude.nazivProizvodjaca }}</td>
          <td>{{ viewPonude.zasticeniNaziv }}</td>
          <td>{{ viewPonude.ponudjenaVrijednost }}</td>
          <td>{{ viewPonude.rokIsporuke }}</td>
          <td>{{ viewPonude.jedinicnaCijena }}</td>
          <td>{{ viewPonude.selected }}</td>
          <td>{{ viewPonude.nazivPonudjaca }}</td>
          <td>{{ viewPonude.karakteristika }}</td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/view-ponude', viewPonude.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">Pregled</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/view-ponude', viewPonude.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Izmeni</span>
              </button>

              <button type="submit" (click)="delete(viewPonude)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Obriši</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
