<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="vrednovanje">
      <h2 data-cy="vrednovanjeDetailsHeading"><span jhiTranslate="tenderApp.vrednovanje.detail.title">Vrednovanje</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ vrednovanje.id }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.vrednovanje.sifraPostupka">Sifra Postupka</span></dt>
        <dd>
          <span>{{ vrednovanje.sifraPostupka }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.vrednovanje.sifraPonude">Sifra Ponude</span></dt>
        <dd>
          <span>{{ vrednovanje.sifraPonude }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.vrednovanje.brojPartije">Broj Partije</span></dt>
        <dd>
          <span>{{ vrednovanje.brojPartije }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.vrednovanje.nazivProizvodjaca">Naziv Proizvodjaca</span></dt>
        <dd>
          <span>{{ vrednovanje.nazivProizvodjaca }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.vrednovanje.zasticeniNaziv">Zasticeni Naziv</span></dt>
        <dd>
          <span>{{ vrednovanje.zasticeniNaziv }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.vrednovanje.ponudjenaVrijednost">Ponudjena Vrijednost</span></dt>
        <dd>
          <span>{{ vrednovanje.ponudjenaVrijednost }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.vrednovanje.rokIsporuke">Rok Isporuke</span></dt>
        <dd>
          <span>{{ vrednovanje.rokIsporuke }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.vrednovanje.jedinicnaCijena">Jedinicna Cijena</span></dt>
        <dd>
          <span>{{ vrednovanje.jedinicnaCijena }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.vrednovanje.nazivPonudjaca">Naziv Ponudjaca</span></dt>
        <dd>
          <span>{{ vrednovanje.nazivPonudjaca }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.vrednovanje.atc">Atc</span></dt>
        <dd>
          <span>{{ vrednovanje.atc }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.vrednovanje.trazenaKolicina">Trazena Kolicina</span></dt>
        <dd>
          <span>{{ vrednovanje.trazenaKolicina }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.vrednovanje.procijenjenaVrijednost">Procijenjena Vrijednost</span></dt>
        <dd>
          <span>{{ vrednovanje.procijenjenaVrijednost }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.vrednovanje.vrstaPostupka">Vrsta Postupka</span></dt>
        <dd>
          <span>{{ vrednovanje.vrstaPostupka }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.vrednovanje.bodCijena">Bod Cijena</span></dt>
        <dd>
          <span>{{ vrednovanje.bodCijena }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.vrednovanje.bodRok">Bod Rok</span></dt>
        <dd>
          <span>{{ vrednovanje.bodRok }}</span>
        </dd>
        <dt><span jhiTranslate="tenderApp.vrednovanje.bodUkupno">Bod Ukupno</span></dt>
        <dd>
          <span>{{ vrednovanje.bodUkupno }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Nazad</span>
      </button>
    </div>
  </div>
</div>
