<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side">
    <mat-form-field *ngIf="!postupak">
      <input matInput [(ngModel)]="sifraPonude" placeholder="Sifra Ponude" (keyup)="nadji()" />
      <button *ngIf="sifraPonude" matSuffix mat-icon-button aria-label="Clear" (click)="ponisti()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </mat-sidenav>
  <mat-sidenav-content>
    <div iclass="btn-group" role="group" aria-label="Basic example">
      <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
        <input hidden #fileInput type="file" id="file" />
        <mat-button-toggle *ngIf="!postupak" class="nadji" (click)="sidenav.toggle()">
          <mat-icon>search</mat-icon>
        </mat-button-toggle>
        <mat-button-toggle *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']" (click)="add()" matTooltip="Dodaj novu ponudu"
          >Dodaj
        </mat-button-toggle>
        <mat-button-toggle
          *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']"
          matTooltip="Napravi formu za unos Excel"
          (click)="obrazacExcel()"
          >Napravi Obrazac
        </mat-button-toggle>
        <mat-button-toggle *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']" matTooltip="Nadji Excel fajl" (click)="fileInput.click()">
          Nadji Fajl
        </mat-button-toggle>
        <mat-button-toggle *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']" matTooltip="Unesi Excel fajl" (click)="uploadFile()"
          >Dodaj Fajl
        </mat-button-toggle>
        <!--        <mat-button-toggle *ngIf="postupak" matTooltip="Ponisti" (click)="ponisti()">Ponisti</mat-button-toggle>-->
        <mat-button-toggle
          *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']"
          matTooltip="Ukloni cijelu ponudu"
          (click)="openBrisiPonudu(contentBrisiPoSifriPonude)"
        >
          Ukloni Ponudu
        </mat-button-toggle>
        <mat-button-toggle *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']" matTooltip=" Excel fajl" (click)="exportTable()">
          <img src="../../../../content/images/icons8-microsoft-excel-48.png" alt="" />
        </mat-button-toggle>
        <button *ngIf="postupak" type="button" (click)="loadPageSifraPostupka()" class="btn btn-secondary btn-sm">
          <fa-icon icon="ban"></fa-icon>
        </button>
        <!--     <div *ngIf="postupak" id="dugme">-->
        <!--       <mat-button-toggle     *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_MANAGER']" matTooltip="Vrati" (click)="loadPageSifraPostupka()">-->
        <!--         <fa-icon icon="ban"></fa-icon>-->
        <!--       </mat-button-toggle>-->
        <!--     </div>-->

        <mat-button-toggle class="linija"> </mat-button-toggle>
        <div class="trazi">
          <div *ngIf="postupak" class="form-floating">
            <select
              class="form-control"
              id="field_sifraPonudjaca"
              data-cy="sifraPonudjaca"
              name="sifraPonudjaca"
              [(ngModel)]="sifraPonude"
              (change)="loadPageSifraPonude()"
              cl="loadPageSifraPonude()"
            >
              <option [ngValue]="null">Izaberi ponudjaca</option>
              <option id="ponudjac" [ngValue]="ponudjaciOption.sifraPonude" *ngFor="let ponudjaciOption of ponudjaciPostupak">
                {{ ponudjaciOption.nazivPonudjaca }}
              </option>
            </select>
            <label class="form-label" jhiTranslate="tenderApp.ponude.nazivPonudjaca" for="field_sifraPonudjaca">Naziv Ponudjaca</label>
          </div>
        </div>
      </mat-button-toggle-group>
      <!--      <mat-form-field>-->
      <!--        <mat-label>Ponudjaci</mat-label>-->
      <!--        <mat-select  [(ngModel)]="sifraPonude"-->
      <!--                     (change)="loadPageSifraPonude()">-->
      <!--          <mat-option></mat-option>-->
      <!--          -->
      <!--          <mat-option  [value]= "ponudjaciOption.sifraPonude" *ngFor="let ponudjaciOption of ponude.body?">-->
      <!--            {{ ponudjaciOption.nazivPonudjaca}}-->
      <!--          </mat-option>-->
      <!--        </mat-select>-->
      <!--      </mat-form-field>-->
      <input hidden #fileInput type="file" id="file1" />

      <jhi-alert-error></jhi-alert-error>
      <jhi-alert></jhi-alert>
      <div class="alert alert-warning" id="no-result" *ngIf="ponudePonudjacis?.body?.length === 0">
        <span>Nema zapisa Ponuda</span>
      </div>
      <div class="alert alert-success" *ngIf="obrisanoSelektovano">
        <span>Obrisane su izabrane partije</span>
      </div>
      <div class="alert alert-success" *ngIf="obrisanoSifraPonude">
        <span>Obrisana je ponuda: {{ sifraPonude }}</span>
      </div>
      <div class="table-responsive" id="entities">
        <table mat-table id="ExampleTable" [dataSource]="dataSource" matSort matSortStart="desc">
          <div *jhiHasAnyAuthority="['ROLE_ADMIN', 'ROLE_USER']">
            <ng-container matColumnDef="sifra postupka">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra Postupka</th>
              <td mat-cell *matCellDef="let element">{{ element.sifraPostupka }}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="sifraPonude">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Sifra Ponude</th>
              <td mat-cell *matCellDef="let element">{{ element.sifraPonude }}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>

            <ng-container matColumnDef="brojPartije">
              <th mat-header-cell *matHeaderCellDef mat-sort-header="desc">Broj Partije</th>
              <td mat-cell *matCellDef="let element">{{ element.brojPartije }}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="naziv proizvodjaca">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Proizvodjac</th>
              <td mat-cell *matCellDef="let element">{{ element.nazivProizvodjaca }}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="ponudjac">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Ponudjac</th>
              <td mat-cell *matCellDef="let element">{{ element.nazivPonudjaca }}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="zasticeni naziv">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Zasticeni naziv</th>
              <td mat-cell *matCellDef="let element">{{ element.zasticeniNaziv }}</td>
              <td mat-footer-cell *matFooterCellDef>Ukupno:</td>
            </ng-container>
            <ng-container matColumnDef="jedinicna cijena">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Jedinicna cijena</th>
              <td mat-cell *matCellDef="let element">{{ element.jedinicnaCijena }}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="ponudjena vrijednost">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Ponudjena cijena</th>
              <td mat-cell *matCellDef="let element">{{ element.ponudjenaVrijednost }}</td>
              <td mat-footer-cell *matFooterCellDef>{{ ukupno | number }}</td>
            </ng-container>

            <ng-container matColumnDef="rok isporuke">
              <th mat-header-cell *matHeaderCellDef mat-sort-header>Rok isporuke</th>
              <td mat-cell *matCellDef="let element">{{ element.rokIsporuke }}</td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
          </div>

          <div class="admin">
            <ng-container hidden matColumnDef="kreirao">
              <th [hidden]="sakrij" mat-header-cell *matHeaderCellDef mat-sort-header>Kreirao zapis</th>
              <td [hidden]="sakrij" mat-cell *matCellDef="let element">{{ element.createdBy }}</td>
              <td [hidden]="sakrij" mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="datum kreiranja">
              <th [hidden]="sakrij" mat-header-cell *matHeaderCellDef mat-sort-header>Datum kreiranja zapisa</th>
              <td [hidden]="sakrij" mat-cell *matCellDef="let element">{{ element.createdDate | date }}</td>
              <td [hidden]="sakrij" mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="zadnji izmjenio">
              <th [hidden]="sakrij" mat-header-cell *matHeaderCellDef mat-sort-header>Zadnji izmjenio</th>
              <td [hidden]="sakrij" mat-cell *matCellDef="let element">{{ element.lastModifiedBy }}</td>
              <td [hidden]="sakrij" mat-footer-cell *matFooterCellDef></td>
            </ng-container>
            <ng-container matColumnDef="datum izmjene">
              <th [hidden]="sakrij" mat-header-cell *matHeaderCellDef mat-sort-header>Datum izmjene</th>
              <td [hidden]="sakrij" mat-cell *matCellDef="let element">{{ element.lastModifiedDate | date }}</td>
              <td [hidden]="sakrij" mat-footer-cell *matFooterCellDef></td>
            </ng-container>
          </div>

          <ng-container matColumnDef="selected">
            <th mat-header-cell *matHeaderCellDef>
              <button
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                (click)="openBrisiSelektovano(contentBrisiSelect)"
                type="submit"
                class="btn btn-danger btn-sm"
                data-cy="entityDeleteButton"
              >
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline"></span>
              </button>
            </th>
            <td mat-cell *matCellDef="let element">
              <input
                *jhiHasAnyAuthority="'ROLE_ADMIN'"
                type="checkbox"
                class="form-check-input"
                id="exampleCheck"
                (click)="updateSelected(element.id)"
              />
            </td>
            <td mat-footer-cell *matFooterCellDef></td>
          </ng-container>

          <div>
            <ng-container matColumnDef="action" stickyEnd>
              <th mat-header-cell *matHeaderCellDef></th>
              <td mat-cell *matCellDef="let element">
                <div class="btn-group">
                  <button
                    *jhiHasAnyAuthority="'ROLE_ADMIN'"
                    type="submit"
                    (click)="
                      update(
                        element.id,
                        element.sifraPostupka,
                        element.sifraPonude,
                        element.brojPartije,
                        element.sifraPonudjaca,
                        element.nazivProizvodjaca,
                        element.zasticeniNaziv,
                        element.ponudjenaVrijednost,
                        element.jedinicnaCijena,
                        element.selected,
                        element.rokIsporuke
                      )
                    "
                    class="btn btn-primary btn-sm"
                    data-cy="entityEditButton"
                  >
                    <fa-icon icon="pencil-alt"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                  </button>

                  <button
                    *jhiHasAnyAuthority="'ROLE_ADMIN'"
                    type="submit"
                    (click)="delete(element)"
                    class="btn btn-danger btn-sm"
                    data-cy="entityDeleteButton"
                  >
                    <fa-icon icon="times"></fa-icon>
                    <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                  </button>
                </div>
              </td>
              <td mat-footer-cell *matFooterCellDef></td>
            </ng-container>
          </div>

          <tr class="heder" mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>
        </table>

        <mat-paginator class="mat-paginator-sticky" [pageSizeOptions]="[20, 30, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>
    </div>
    <ng-template #contentBrisiSelect let-modal>
      <div class="modal-body">
        <h4>Dali ste sigurni da zeliet izbrisete selektovane partije</h4>
      </div>
      <div class="modal-footer">
        <button mat-button color="primary" (click)="modal.close('Save click')">NE</button>
        <button mat-button color="warn" (click)="deleteSelected()" (click)="modal.close('Save click')">DA</button>
      </div>
    </ng-template>

    <ng-template #contentBrisiPoSifriPonude let-modal>
      <div class="modal-body">
        <h4>Dali ste sigurni da zelite izbrisete cijelu ponudu</h4>
      </div>
      <div class="modal-footer">
        <button mat-button color="primary" (click)="modal.close('Save click')">NE</button>
        <button
          mat-button
          color="warn"
          (click)="deleteSifra()"
          (click)="loadPage()"
          (click)="ponisti()"
          (click)="modal.close('Save click')"
        >
          DA
        </button>
      </div>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>
